@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #000;
}

.nav {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 0 50px;
}
.nav .hello {
  color: #fff;
  font-size: 20px;
  padding-right: 60px;
}
.nav .searchBar .searchtwoBar {
  background-image: url(../src/img/searchLogo.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 73px 10px 40px;
  gap: 10px;
  position: absolute;
  width: 476px;
  height: 50px;
  left: 768px;
  top: 24px;
  border-radius: 15px;
}
.nav .notification {
  padding-top: 25px;
}
.nav .profilePic {
  padding-top: 25px;
}

.sideMenu {
  padding-top: 150px;
  margin-left: 30px;
}
.sideMenu .gradientButton {
  background: linear-gradient(266.37deg, #fbff00 -5.82%, #fbff00 15.95%, #1972d7 41.2%, #cc00ffbd 72.88%);
  border-radius: 12px;
  padding: 10px 20px;
}
.sideMenu .gradientButton a {
  color: #000000;
  font-size: 22px;
  text-decoration: none;
}
.sideMenu .gradientButton i {
  color: #000000;
  font-size: 22px;
}
.sideMenu .otherMenu {
  padding-top: 20px;
}
.sideMenu .otherMenu ul {
  list-style: none;
  padding: 15px;
}
.sideMenu .otherMenu ul a {
  text-decoration: none;
  font-size: 25px;
  color: #868686;
}
.sideMenu .otherMenu ul i {
  font-size: 25px;
  color: #868686;
}
.sideMenu .logout {
  padding-top: 20px;
}
.sideMenu .logout ul {
  list-style: none;
  padding: 5px;
}
.sideMenu .logout ul a {
  text-decoration: none;
  font-size: 25px;
  color: #868686;
}
.sideMenu .logout ul i {
  font-size: 25px;
  color: #868686;
}

.topMenu .totalBTC {
  display: flex;
  flex-direction: row;
}
.topMenu .totalBTC p {
  font-weight: bold;
}
.topMenu .totalBTC .yellowBTC {
  margin-left: 10px;
  background-color: #fbff00;
  border-radius: 5px;
}
.topMenu .totalBTC .yellowBTC p {
  color: #000;
}

.allBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.allBody .totalBalance {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.allBody .firstRecent {
  display: flex;
  flex-direction: column;
}
.allBody .first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .recentShort {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.allBody .recentShort .bitcoin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(33, 36, 44, 0.7);
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.allBody .recentShort .bitcoin .tradeButton {
  background-color: #000;
  padding: 15px;
  border-radius: 25px;
}
.allBody .recentShort .bitcoin .blue {
  color: #1972d7;
}
.allBody .recentShort .bitcoin .green {
  color: green;
}
.allBody .recentShort .separator {
  padding-top: 20px;
  background-color: #000;
}
.allBody .recentShort .etherum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(33, 36, 44, 0.7);
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.allBody .recentShort .etherum .tradeButton {
  background-color: #000;
  padding: 15px;
  border-radius: 25px;
}
.allBody .recentShort .etherum .purple {
  color: #cc00ffbd;
}
.allBody .recentShort .etherum .red {
  color: red;
}
.allBody .secondRecent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.allBody .secondRecent .usdt {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .secondRecent .usdt .green {
  color: green;
}
.allBody .secondRecent .usdt .gray {
  color: #868686;
}
.allBody .secondRecent .bnb {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .secondRecent .bnb .green {
  color: green;
}
.allBody .secondRecent .bnb .gray {
  color: #868686;
}
.allBody .secondRecent .litecoin {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .secondRecent .litecoin .red {
  color: red;
}
.allBody .secondRecent .litecoin .gray {
  color: #868686;
}
.allBody .secondRecent .bitcoin {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .secondRecent .bitcoin .green {
  color: green;
}
.allBody .secondRecent .bitcoin .gray {
  color: #868686;
}
.allBody .secondRecent .etherum {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .secondRecent .etherum .green {
  color: green;
}
.allBody .secondRecent .etherum .gray {
  color: #868686;
}
.allBody .btcAsset {
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
  border-radius: 20px;
}
.allBody .btcAsset p {
  font-size: 20px;
}
.allBody .btcAsset .btcAmounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .btcAsset .btcAmounts p {
  font-size: 20px;
}
.allBody .ethAsset {
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
  border-radius: 20px;
}
.allBody .ethAsset p {
  color: #000;
  font-size: 20px;
}
.allBody .ethAsset .ethAmounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.allBody .ethAsset .ethAmounts p {
  color: #000;
  font-size: 20px;
}

.separator {
  padding-top: 30px;
  background-color: #000;
}

/*# sourceMappingURL=style.css.map */
