.nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    .hello {
        color: #fff;
        font-size: 20px;
        padding-right: 60px;
    }
    .searchBar {
        .searchtwoBar {
            background-image: url(../src/img/searchLogo.png);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 73px 10px 40px;
            gap: 10px;

            position: absolute;
            width: 476px;
            height: 50px;
            left: 768px;
            top: 24px;
            border-radius: 15px;
        }
    }
    .notification {
        padding-top: 25px;
    }
    .profilePic {
        padding-top: 25px;
    }
}