.sideMenu {
    padding-top: 150px;
    margin-left: 30px;
    .gradientButton {
        background: linear-gradient(266.37deg, $third-gradiant -5.82%, $third-gradiant 15.95%, $second-gradiant 41.2%, $first-gradiant 72.88%);
        border-radius: 12px;
        padding: 10px 20px;
        a {
            color: #000000;
            font-size: 22px;
            text-decoration: none;
        }
        i {
            color: #000000;
            font-size: 22px;
        }
    }
    .otherMenu {
        padding-top: 20px;
        ul {
            list-style: none;
            padding: 15px;
            a {
                text-decoration: none;
                font-size: 25px;
                color: #868686;
            }
            i {
                font-size: 25px;
                color: #868686;
            }
        }
    }
    .logout {
        padding-top: 20px;
        ul {
            list-style: none;
            padding: 5px;
            a {
                text-decoration: none;
                font-size: 25px;
                color: #868686;
            }
            i {
                font-size: 25px;
                color: #868686;
            }
        }
    }
}

.topMenu {
    display: flex;
    flex-direction: column;
    .totalBTC {
        display: flex;
        flex-direction: row;
        p {
            font-weight: bold;
        }
        .yellowBTC {
            margin-left: 10px;
            background-color: $third-gradiant;
            border-radius: 5px;
            p {
                color: #000;
            }
        }
    }
}

.menuTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #979797;
    border-radius: 15px;
    gap: 20px;
    .black {
        background-color: #000;
        border-radius: 15px;
    }
}